body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F8F8F8;
}

.heading {
    margin-left: 20px; /* Adjust the margin as needed */
    text-align: center;
    color: #336699; /* You can choose your own color */
    font-size: 24px; /* Adjust the font size as needed */
}

.container1 {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text1 {
    text-align: center;
    font-size: 20px;
    color: #336699; /* You can choose your own color */
}

.text2 {
    text-align: center;
    font-size: 16px;
    color: #336699; /* You can choose your own color */
}

.text3 {
    color: #336699; /* You can choose your own color */
    font-size: 18px;
}

.menu {
    font-size: 24px;
    text-align: center;
    color: #336699; /* You can choose your own color */
}

.menubox {
    display: inline-block;
    width: calc(24.5% - 35px);
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-image {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.link {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.menutext {
    text-align: center;
    padding-top: 15px;
}

.text4 {
    font-size: 18px;
    color: #000000;
}
