body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #F8F8F8;
}

.heading {
    margin: 0;
    text-align: center;
    color: #336699;
    font-size: 24px;
}

.container1 {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text1 {
    text-align: center;
    font-size: 24px;
    color: #336699;
    font-weight: bold;
}

.text2 {
    text-align: center;
    font-size: 16px;
    color: #555;
}

.text3 {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

.menu {
    font-size: 28px;
    text-align: center;
    color: #336699;
    margin-bottom: 20px;
}

.menubox {
    display: inline-block;
    width: calc(24.5% - 20px);
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.menubox:hover {
    transform: scale(1.05);
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.menutext {
    text-align: center;
    padding: 15px;
}

.text4 {
    font-size: 18px;
    color: #333;
}

@media (max-width: 768px) {
    .menubox {
        width: calc(49% - 20px);
    }
}
